@font-face {
  font-family: "Ubuntu";
  font-weight: normal;
  font-display: swap;
  src: local("Ubuntu"),
    url(@/assets/ubuntu-font-family/Ubuntu-R.woff2) format("woff2"),
    url(@/assets/ubuntu-font-family/Ubuntu-R.woff) format("woff");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-display: swap;
  src: local("Ubuntu-Italic"),
    url(@/assets/ubuntu-font-family/Ubuntu-RI.woff2) format("woff2"),
    url(@/assets/ubuntu-font-family/Ubuntu-RI.woff) format("woff");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: bold;
  font-display: swap;
  src: local("Ubuntu-Bold"),
    url(@/assets/ubuntu-font-family/Ubuntu-B.woff2) format("woff2"),
    url(@/assets/ubuntu-font-family/Ubuntu-B.woff) format("woff");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: local("Ubuntu-BoldItalic"),
    url(@/assets/ubuntu-font-family/Ubuntu-BI.woff2) format("woff2"),
    url(@/assets/ubuntu-font-family/Ubuntu-BI.woff) format("woff");
}
